!Bdis.gdna.fa
!Bdis.gff3
!Bdis.all.prot.fa
Bdis.filens.tsv
Bdis.ilens.tsv
Bdis.iloci.fa
Bdis.iloci.gff3
Bdis.ilocus.mrnas.gff3
Bdis.ilocus.mrnas.tsv
Bdis.miloci.fa
Bdis.miloci.gff3
Bdis.mrnas.txt
Bdis.simple-iloci.txt
ilens.temp
